$primary-color: #313131;
$secondary-color: #595653;
$white-color: #FFF;
$button-black: #1F1F1F;
$button-yellow: #FBCE51;
$red-color: #F54932;
$table-color: #D0D0D0;
$link-color: #3057A2;
$brown-color: #E9DED4;